body{
background-color: midnightblue;
}
.container{
    width: 900px;
    margin: auto;
    align-items: center;
    border: 2px solid black;
    border-radius: 50px;
}

input{
    margin: 2Opx;
    border-color: midnightblue;
}
button
{
    padding: 20px;
    margin: 30px;
}
#result{
    background-color: white;
    text-align: center;
    padding: 30px;
    width: 40%;
    margin: auto;
    border: 2px solid black;
    border-radius: 50px;
}
